:root {
  --gray-darkest: #1a202c;
  --green: #cef5db;
  --gray-light: #4a5568;
  --gray-lighter: #718096;
  --gray-lightest: #cbd5e0;
}

body {
  color: var(--gray-darkest);
  font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 38rem;
  min-height: 100vh;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .layout {
    padding: 0 2rem;
  }
}

.layout__main {
  margin-top: 3rem;
  flex: 1;
}

@media (min-width: 640px) {
  .layout__main {
    margin-top: 5rem;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

@media (min-width: 640px) {
  .header {
    flex-direction: row;
    padding-top: 3rem;
  }
}

.header__logotype {
  width: 10rem;
}

.header__nav__intro {
  color: var(--gray-lighter);
  font-style: italic;
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 640px) {
  .header__nav__intro {
    margin-top: 0;
    text-align: right;
  }
}

.header__nav__links {
  color: var(--gray-light);
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .header__nav__links {
    justify-content: flex-end;
  }
}

.header__nav__links li:not(:last-child) {
  margin-right: 1rem;
}

.header__nav__links a {
  text-decoration: none;
}

.footer {
  color: var(--gray-lighter);
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.85rem;
}

@media (min-width: 640px) {
  .footer {
    padding-top: 2rem;
  }
}

@media (min-width: 640px) {
  .home {
    margin: 0 auto;
    width: 75%;
  }
}

.home__issue {
  margin-top: 3rem;
}

@media (min-width: 640px) {
  .home__issue {
    margin-top: 6rem;
  }
}

.issue {
  margin-bottom: 3rem;
}

@media (min-width: 640px) {
  .issue {
    display: flex;
  }
}

.issue__date,
.issue__number {
  color: var(--gray-light);
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .issue__date {
    width: 25%;
  }
}

.issue__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.issue__content {
  flex: 1;
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .issue__content {
    margin-top: 0;
  }
}

.markup {
  line-height: 1.5;
}

.markup > *:not(:first-child) {
  margin-top: 1.5rem;
}

.markup blockquote > *:not(:first-child) {
  margin-top: 1rem;
}

.markup h2 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 3rem !important;
}

.markup h2 a {
  color: inherit;
  text-decoration: none;
}

.markup a {
  color: var(--gray-light);
  text-decoration: underline;
}

.markup img {
  max-width: 100%;
}

.markup em {
  font-style: italic;
}

.markup strong {
  font-weight: bold;
}

.markup blockquote {
  padding: 1.5rem;
  position: relative;
}

.markup blockquote:before,
.markup blockquote:after {
  position: absolute;
  display: block;
  top: -0.15rem;
  left: 0;
  bottom: -0.15rem;
  right: -0.15rem;
  content: "";
  border: 4px solid #cef5db;
  transform: rotate(-2deg);
  z-index: -1;
}

.markup blockquote:after {
  border: 1px solid #575757;
  transform: rotate(-1deg);
}

.markup ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

.subscribe {
  margin-bottom: 2.25rem;
  margin-top: 2.25rem;
}

.subscribe form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 640px) {
  .subscribe form {
    flex-direction: row;
  }
}

.subscribe input {
  appearance: none;
  border: 1px solid var(--gray-lighter);
  padding: 0.5rem 1rem;
  font: inherit;
  border-radius: 0;
}

.subscribe input[type="email"] {
  flex: 1;
  box-shadow: 3px 3px 0 -2px white, 2px 2px 0 1px var(--green),
    inset 1px 1px 0 0 #fff, inset 3px 3px 0 0 var(--green);
}

@media (min-width: 640px) {
  .subscribe input[type="email"] {
    margin-right: 8px;
  }
}

.subscribe input[type="submit"] {
  background-color: var(--green);
  font-weight: bold;
  box-shadow: 1px 1px 0 0 white, inset 2px 2px 0 0 white,
    3px 3px 0 0 var(--green);
}

.subscribe__remark {
  color: var(--gray-lighter);
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.subscribe__remark a {
  text-decoration: underline;
}

.subscribed {
  width: 75%;
  margin: 0 auto;
}

.subscribed__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}
