<html>
    <head>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <style>

        </style>
    </head>
    <body class="font-sans text-gray-900">
        <div class="max-w-2xl px-8 mx-auto min-h-screen flex flex-col">
            <header class="flex flex-col sm:flex-row items-center justify-between pt-6 sm:pt-12">
                <img src="/logotype.svg" style="width: 160px" alt="">
                <div class="mt-4 sm:mt-0 text-center sm:text-right flex flex-col items-center sm:items-end">
                    <p class="italic text-gray-600 text-sm">
                        Programming, product, design, <br>
                        and everything in between.
                    </p>
                    <ul class="mt-4 flex text-gray-700 space-x-4">
                        <li>Newsletter</li>
                        <li>Twitter</li>
                        <li>RSS</li>
                    </ul>
                </div>
            </header>
            <main class="flex-1 mt-12 sm:mt-20">
                <ol class="space-y-24">
                    <li class="sm:flex">
                        <aside class="text-gray-600 text-sm sm:w-1/4">
                            24 June 2020
                        </aside>
                        <ol class="mt-6 sm:mt-0 flex-1 space-y-24">
                            <li>
                                <article>
                                    <header>
                                        <h2 class="font-bold text-xl leading-tight">
                                            <a href="https://www.joelonsoftware.com/2000/04/06/things-you-should-never-do-part-i/">
                                                Things You Should Never Do, Part I
                                            </a>
                                        </h2>
                                        <aside class="text-sm text-gray-600">
                                            joelonsoftware.com
                                        </aside>
                                    </header>
                                    <div class="mt-6 leading-relaxed space-y-6">
                                        <p>The story of Netscape's big rewrite in 2000.</p>
                                        <blockquote>
                                            <p>The idea that new code is better than old is patently absurd. Old code has been <em>used</em>. It has been <em>tested</em>. Lots of bugs have been found, and they’ve been <em>fixed</em>. There’s nothing wrong with it. It doesn’t acquire bugs just by sitting around on your hard drive. Au contraire, baby! Is software supposed to be like an old Dodge Dart, that rusts just sitting in the garage? Is software like a teddy bear that’s kind of gross if it’s not made out of <em>all new material</em>?</p>
                                        </blockquote>
                                    </div>
                                </article>
                            </li>
                        </ol>
                    </li>
                </ol>
            </main>
            <footer class="pt-12 sm:pt-32 text-xs text-gray-600 pb-4 text-center">
                © 2020 Growing the Stack, by <a href="https://sebastiandedeyne.com" class="underline">Sebastian De Deyne</a>
            </footer>
        </div>
    </body>
</html>
